/* base styles */

@font-face {
    font-family: Cabin;
    font-style:normal;
    font-weight:400;
    src:url(taoteching/fonts/Cabin-Regular.ttf) format("truetype")
   }

body {
    font-size: 24px;
    font-family: 'Cabin', sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    /*width: 550px;*/
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

h1{
    text-align: left;
    margin-left: 15%;
}

h2 {
    margin-left: 15%;
    margin-right: 5%;
}

hr {
    width: 90%;
    margin-left: 0px;
}
/* mobile styles */
@media (max-width: 420px) {

    h1, h2{
        text-align: center;
        margin-left: 0px;
    }

    a {
        font-size: 18px;
    }
}
/* half screen styles */
@media (min-width: 530px) and (max-width: 629px) {
    body {
        padding-left: calc(20px + 5%);
    }
}

/* full size screen styles */
@media (min-width: 630px) {
    body {
        padding-left: calc(20px + 10%);
    }
}