body {
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    /*width: 550px;*/
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

h1{
    text-align: left;
    margin-left: 15%;
}

h2 {
    margin-left: 15%;
    margin-right: 5%;
}

hr {
    width: 90%;
    margin-left: 0px;
}

@media (max-width: 420px) {

    h1, h2{
        text-align: center;
        margin-left: 0px;
    }

    a {
        font-size: 16px;
    }
}

@media (min-width: 530px) {
    body {
        position: relative;
        left: 5%;
    }
}